= error_messages_for('job')
- form_for @job, :html => { :multipart => true, :class => 'job_form geocoder_form' } do |form|
  = form.hidden_field :lat, :class => 'geocoder_lat'
  = form.hidden_field :lng, :class => 'geocoder_lng'
  .page.shadow
    .stripe
      .field-highlight.left
      .left
        %span.prompt
          ENTER A TITLE
        = form.text_field :title, :class => 'title'
      .right
      .clear
    .content.light
      .left
        .description
          .box
            .field-highlight.left
            %h4
              ENTER A DESCRIPTION
            %p.help
              Please describe your job below in 555 characters or less. Be sure to include any details the Maker might need to understand the job: What materials should be used? Any special instructions?
            .message.constrain
              .stripe
                .prompt
                  Enter a maximum of 
                  %span.maximum
                    555
                  characters
                .counter
                  0/555
                .clear
              = form.text_area :description 
          .box
            .field-highlight.left
            %h4
              FABRICATION TYPE
            %p.help
              What kind of fabrication do you need? Common genres include 3d printing, laser cutting, CNC cutting, etc.
            = form.text_field :fabrication_type
          .box
            .field-highlight.left
            %h4
              QUANTITY
            %p.help
              How many copies do you need? Numbers only, please.
            = form.text_field :quantity_needed
          .box
            .field-highlight.left
            %h4
              DELIVER TO
            %p.help
              Where do you need the items delivered? Be general, use terms like: "Portland, OR" or "NYC"
            = form.text_field :deliver_to, :class => 'geocoder_location'
          .box
            .field-highlight.left
            %h4
              DELIVER BY
            %p.help
              When do you need everything delivered by?
            = form.date_select :deliver_by
        .callout
          .fold
          .content
            - if form.object.new_record?
              %h3
                POSTING YOUR JOB
              %p
                Posting this job will allow Makers to submit bids, which will show up at the bottom of this page. You'll be provided with a contact email address for each bid so you can work out the details offsite. Here's some more things to consider:
              %ul.things-to-remember
                %li
                  %strong
                    This posting is not a legal contract
                  — only a semi-formal way of engaging in a conversation!
                %li
                  %strong
                    Bidding will be open for three weeks
                  — after which it will be marked as expired and removed from all job indexes (but it will still be available through a direct link).
              %p
                %small.red
                  AND PLEASE NOTE 
                — Once you receive a bid on this job, it will no longer be editable. You can delete this job at any time.
              = form.submit "Post"
            - else
              %h3
                UPDATING YOUR JOB
              %p
                If everything looks alright, click the update button below.
              %p
                %small.red
                  REMEMBER 
                — Once you receive a bid on this job, it will no longer be editable. You can delete this job at any time.
              = form.submit "Update"              
      .right
        .upload-image
          .bucket
            .box
              .field-highlight.right
              %h4
                UPLOAD IMAGES
              %p.help
                Please upload at least one picture, rendering or sketch to represent this job. You may upload a maximum of three images, each much be 3MB or less. Please be respectful and do not upload copyrighted media.
            - [:image1, :image2, :image3].each do |img|
              .editable_image
                - if(@job.send(img).file?)
                  .image_container
                    = image_tag @job.send(img).url(:profile), :class => 'main_img'
                    = image_tag image_path("x-delete.png"), :class => 'delete_button'
                    .file_field_container
                      %span.replace_instructions
                        Replace this picture:
                      %br
                      = form.file_field(img, :class => 'file_field', :disabled => true)
                - else
                  .empty_image_container
                    .file_field_container
                      = form.file_field(img)
        .stripe
          .field-highlight.right
          %h4
            UPLOAD BLUEPRINTS
        .box
          %p.help
            You may upload one file, 3MB or less. Please be respectful and do not upload copyrighted media.
            - if @job.blueprint.file?
              %ul.file-list
                %li
                  %h5
                    = link_to(@job.blueprint.original_filename, @job.blueprint.url)
                  %span.details
                    = number_to_human_size @job.blueprint.size
              .replace_instructions.red
                To replace this file, upload a new one here:
          = form.file_field(:blueprint)
          %br
          %br
          %ul.file-list
      .clear
