= error_messages_for('job')
- form_for @job, :html => { :multipart => true, :class => 'job_form' } do |form|
  .page.shadow
    .stripe
      .field-highlight.left
      .left
        %span.prompt
          ENTER A TITLE
        = form.text_field :title, :class => 'title'
      .right
      .clear
    .content.light
      .left
        .description
          .box
            .field-highlight.left
            %h4
              ENTER A DESCRIPTION
            %p.help
              Please describe your job below in 555 characters or less. Be sure to include any details the Maker might need to understand the job.
            = form.text_area :description
            .description.box
          .specifications
            %table
              %tr
                %td.label.box
                  .field-highlight.left
                  = form.label :fabrication_type
                %td.attribute.box-inline
                  = form.text_field :fabrication_type
              %tr
                %td.label.box
                  .field-highlight.left
                  = form.label :deliver_to 
                %td.attribute.box-inline
                  = form.text_field :deliver_to
              %tr
                %td.label.box
                  .field-highlight.left
                  = form.label :quantity_needed      
                %td.attribute.box-inline
                  = form.text_field :quantity_needed
              %tr
                %td.label.box
                  .field-highlight.left
                  = form.label :deliver_by 
                %td.attribute.box-inline
                  = form.date_select :deliver_by
        .callout
          .fold
          .content
            %h3
              POSTING YOUR JOB
            %p
              Fusce dignissim lectus id ipsum rhoncus facilisis. Donec rutrum mauris non tellus ullamcorper sit amet mattis justo ornare. Phasellus nec aliquet ante. Quisque sem ipsum, malesuada eget volutpat at, euismod eget mauris. Vivamus rutrum porta molestie. Morbi nunc sem, tincidunt at imperdiet ut, bibendum in nisl. Vivamus ac magna eros. Duis et tincidunt ligula. Nulla velit mauris, congue ac laoreet et, sodales et est. Nullam cursus convallis pretium. Phasellus pretium dolor sit amet ante eleifend ullamcorper.
            = form.submit "Create"
      .right
        .upload-image
          .bucket
            .box
              .field-highlight.right
              %h4
                UPLOAD IMAGE
              %p.help
                Please upload a picture, rendering or sketch represent this job. You may upload a maximum of three files, each much be 5MB or less.
              = form.file_field(:image1)
              = form.file_field(:image2)
              = form.file_field(:image3)
        .stripe
          .field-highlight.right
          %h4
            UPLOAD BLUEPRINTS
        .box
          %p.help
            Please upload any files the Maker might need to make an informed bid on your job. You may upload a maximum of three files, each must be 5MB or less.
          = form.file_field(:blueprint)
          %br
          %br
          %ul.file-list
            %li
              %h5
                DOMEKIT-2V-HEXA.gcode
              %span.details
                details
            %li
              %h5
                DOMEKIT-2V-HEXA.gcode
              %span.details
                details
      .clear