.page.shadow 
  .stripe
    .left
      %h2.caps
        = pluralize(@jobs.size, "job", "jobs")
        available
    .clear
  %table.list{ :cellspacing => "0", :cellpadding => "0" }
    %tr
      %th.title
        JOB TITLE
      %th.deliver-to
        DELIVER TO
      %th.deliver-by
        DELIVER BY
      %th.quantity
        QUANTITY
    - @jobs.each_with_index do |job, i|
      %tr{:class => (cycle :prim, :alt) + ((@jobs.size <= i + 1) ? ' last' : ''), :'data-href' => job_url(job)}
        %td
          = job.title
        %td
          = job.deliver_to
        %td
          = job.deliver_by
        %td
          = job.quantity_needed
