= error_messages_for('bid')
.page.shadow
  .stripe
    .left
      .avatar
        - link_to user_url(@job.creator) do
          = image_tag @job.creator.image.url(:avatar)
      %h2
        = @job.title
      .info
        Job created on
        %span.highlight
          = format_time(@job.created_at, :datestamp)
        by
        =link_to @job.creator.name,user_url(@job.creator)
    .right
      %ul.context-menu
        - if can? :update, @job
          %li.delete
            = link_to 'Delete', edit_job_path(@job)
          %li.edit
            = link_to 'Edit', edit_job_path(@job)
    .clear
  .content.light
    .left
      .description
        .box
          %p
            = @job.description
        .specifications
          %table
            %tr
              %td.label.box
                Fabrication type:
              %td.attribute.box-inline
                = @job.fabrication_type
            %tr
              %td.label.box
                Quantity needed:
              %td.attribute.box-inline
                = @job.quantity_needed
            %tr
              %td.label.box
                Deliver to:
              %td.attribute.box-inline
                = @job.deliver_to
            %tr
              %td.label.box
                Deliver by:
              %td.attribute.box-inline
                = @job.deliver_by
      - if can? :new, @bid
        .callout
          .fold
          .content
            %h3
              LET'S MAKE A BID
            %div.bid_instructions
              %p
                Use the form below to submit your bid to the job owner. Be sure to include:
              %ul.things-to-remember
                %li
                  %strong
                    How much you will charge
                  — or if you're willing to trade or barter.
                %li
                  %strong
                    When you can deliver by
                  — what's your lead time? Can you deliver early?
                %li
                  %strong
                    How you plan on delivering
                  — in person, in the mail, etc.
              %p
                In the interest of keeping things honest, friendly and fun, you have
                %span.red
                  %strong
                    333
                characters to explain your bid:
            - form_for([@job, @bid], :html => {:class => 'place-a-bid'}) do |form|
              = form.hidden_field :job_id
              .message
                .stripe
                  .field-highlight.left.extra
                  %h4
                    TYPE YOUR MESSAGE HERE
                  .counter
                    222/333
                  .clear
                = form.text_area :message
              .quantity
                %label
                  .field-highlight.left
                  I can make
                  = form.text_field :quantity, :size => 2
                  copies of this object
                %br
                %span
                  = "Remember, #{@job.creator.name} asked for #{@job.quantity_needed} copies."
                %br
                %hr
              %p
                This bid is not a legal contract, only a semi-formal way of engaging in a conversation.
              %p.red
                By clicking the button below, the email address associated with your
                %strong
                  MAKERFACTORY
                account will be shared with the owner of this job.
              %input{:type=>"submit", :class=>"submit-bid", :value=>"Place bid"}
              .clear
      - elsif cannot? :create, @bid
        - if @job.creator == current_user
          .callout
            .fold
            - if @bids.empty? 
              .content
                %h3
                  = @job.expired? ? "THIS JOB HAS EXPIRED" : "THIS IS YOUR JOB"
                %p
                  You created this job on
                  = format_time(@job.created_at, :human)
                  and so far no one has submitted a bid.
                .clear
            - else
              .content
                %h3
                  REVIEW & AWARD BIDS
                %p
                
                  Below is a list of all the bids you've received for this job. Please take a look and if you want to, award some bids. Awarding a bid does the following: 
                %ul.things-to-remember
                  %li
                    %strong
                      Sends an email to the bidder
                    — informing them that they have won the bid. Regardless of this notification, you'll most likely need to consult with the bidder and resolve the final details.
                  %li
                    %strong
                      Participation +1
                    — increases both your and the bidder's participation counters by one.
                %p
                  %small
                    AND PLEASE NOTE 
                  — Since you've received at least one bid, this job is no longer editable.
                .clear
        - else
          .callout
            .fold
            .content
              - if @existing_bid
                = render(:partial => 'current_user_bid', :locals => {:bid => @existing_bid})
              - else
                - # job isn't yours, and is expired ...
                %h3
                  THIS JOB HAS EXPIRED
                %p
                  Expired jobs can no longer be bid on. This job was made on
                  = format_time(@job.created_at, :human) + "."
                .clear


    .right
      .upload-image
        .bucket
          - [@job.image1, @job.image2, @job.image3].each do |image|
            = image_tag image.url(:profile) if image.file?
      - if (@job.blueprint.file?)
        .stripe
          %h4
            DOWNLOAD BLUEPRINTS
        .box
          %ul.file-list
            - if @job.blueprint.file?
              %li
                %h5
                  = link_to(@job.blueprint.original_filename, @job.blueprint.url)
                %span.details
                  = number_to_human_size @job.blueprint.size
    .clear
    - if @bids && !@bids.empty?
      %a{:name=>'bids'}
      .bids
        %h2
          = pluralize(@job.bids.count, 'BID RECEIVED', 'BIDS RECEIVED')
        %p.help
          Arranged by quantity, in descending order
        - @bids.each do |bid|
          .bid-tile{:class => "award_bid #{cycle('prim', 'alt')}"}
            .stripe
              .left
                .avatar
                  - link_to user_url(@job.creator) do
                    = image_tag @job.creator.image.url(:avatar)
                %h3
                  = bid.creator.name
                .info
                  Bid posted on
                  %span.highlight
                    = format_time(bid.created_at, :datestamp)
              .right
                .quantity
                  .number
                    = "#{bid.quantity}/#{bid.job.quantity_needed}"
                  .info.label
                    Quantity Bidded
              .clear
            .message
              .box
                = bid.message
            .action
              .box
                - if can?(:award, bid)
                  = link_to('award bid', '#', 'data-bid-award' => award_job_bids_url(:job_id => @job,:id => bid) )
                  .direct
                    Contact this bidder directly:
                    .email
                      = bid.creator.email
                - else
                  .awarded
                    Bid awarded!
                  .direct
                    Contact this bidder directly: 
                    .email
                      = bid.creator.email
    

