= error_messages_for('bid')
.page.shadow
  .stripe
    .left
      %h2
        = @job.title
      %span.info
        = @job.created_at
    .right
      %ul.context-menu
        - if can? :update, @job
          %li.edit
            %a
              = link_to 'Edit', edit_job_path(@job)
    .clear
  .content.light
    .left
      .description
        .box
          %p
            = @job.description
        .specifications
          %table
            %tr
              %td.label.box
                Fabrication type:
              %td.attribute.box-inline
                = @job.fabrication_type
            %tr
              %td.label.box
                Quantity needed:
              %td.attribute.box-inline
                = @job.quantity_needed
            %tr
              %td.label.box
                Deliver to:
              %td.attribute.box-inline
                = @job.deliver_to
            %tr
              %td.label.box
                Deliver by:
              %td.attribute.box-inline
                = @job.deliver_by
      .callout
        .fold
        .content
          - if can? :new, @bid
            %h3
              LET'S MAKE A BID
            %div.bid_instructions
              %p
                Use the form below to submit your bid to the job owner. Be sure to include:
              %ul.things-to-remember
                %li
                  How much you will charge (or if you're willing to trade or barter)
                %li
                  When you can deliver by
                %li
                  How you plan on delivering (in person, in the mail, etc.)
              %p
                In the interest of keeping things simple, honest and straightforward, you have
                %span.red
                  %strong
                    333
                characters to explain your bid:
            - form_for([@job, @bid], :html => {:class => 'place-a-bid'}) do |form|
              = form.hidden_field :job_id
              .message
                .stripe
                  .field-highlight.left.extra
                  %h4
                    TYPE YOUR MESSAGE HERE
                  .counter
                    222/333
                  .clear
                = form.text_area :message
              .quantity
                %label
                  .field-highlight.left
                  I can make
                  = form.text_field :quantity, :size => 2
                  copies of this object
              %span.notice
                %strong
                  NOTE
                This bid is not a legal contract, only a semi-formal way of engaging in a conversation!
              %input{:type=>"submit", :class=>"submit-bid", :value=>"PLACE BID"}
              .clear
          - elsif cannot? :create, @bid
            - if @job.creator == current_user
              %h3
                THIS IS YOUR JOB!
              %p
                You created this job on
                = @job.created_at
                and so far # of people have submitted bids. To view this job's bid history, click here.
              .clear
            - else
              %h3
                YOU'VE BIDDED ON THIS JOB
              %div.bid_instructions
                %p
                  The job owner has your contact information and you will be notified by email if you are awarded the bid.
                %ul.things-to-remember
                  %li
                    You placed this bid on:
                    = @existing_bid.created_at.strftime("%B #{@existing_bid.created_at.day.ordinalize}, %Y @ %H:%M")
              - form_for([@job, @existing_bid], :html => {:class => 'place-a-bid'}) do |form|
                .message
                  .stripe
                    .left.extra
                    %h4
                      YOU SENT THIS MESSAGE
                    .clear
                  = form.text_area :message, :disabled => true
                .quantity
                  %label
                    .left
                    You can make
                    = form.text_field :quantity, :size => 2, :disabled => true
                    copies of this object
                .clear
    .right
      .upload-image
        .bucket
          - [@job.image1, @job.image2, @job.image3].each do |image|
            = image_tag image.url(:profile) if image.file?
      .stripe
        %h4
          DOWNLOAD BLUEPRINTS
      .box
        %ul.file-list
          - if @job.blueprint.file?
            %li
              %h5
                = link_to(@job.blueprint.original_filename, @job.blueprint.url)
              %span.details
                = number_to_human_size @job.blueprint.size
    .clear

