= error_messages_for('bid')
.page.shadow
  .stripe
    .left
      %h2
        = @job.title
      %span.info
        asdad
    .right
      %ul.context-menu
        %li.edit
          %a
            = link_to 'Edit', edit_job_path(@job)
    .clear
  .content.light
    .left
      .description
        .box
          %p
            = @job.description
        .specifications
          %table
            %tr
              %td.label.box
                Fabrication type:
              %td.attribute.box-inline
                = @job.fabrication_type
            %tr
              %td.label.box
                Quantity:
              %td.attribute.box-inline
                = @job.quantity_needed
            %tr
              %td.label.box
                Deliver to:
              %td.attribute.box-inline
                = @job.deliver_to
            %tr
              %td.label.box
                Deliver by:
              %td.attribute.box-inline
                = @job.deliver_by
      .callout
        .fold
        .content
          - if can_bid_on_job?(current_user, @job)
            %h3
              LET'S MAKE A BID
            %p
              Use the form below to submit your bid to the job owner. Be sure to include:
            %ul.things-to-remember
              %li
                How much you will charge (or if you're willing to trade or barter)
              %li
                When you can deliver by
              %li
                How you plan on delivering (in person, in the mail, etc.)
            %p
              In the interest of keeping things simple, honest and straightforward, you have
              %span.red
                %strong
                  333
              characters to explain your bid:
              - form_for @bid, :class => 'place-a-bid' do |form|
                = form.hidden_field :job_id
                .message
                  .stripe
                    .field-highlight.left.extra
                    %h4
                      TYPE YOUR MESSAGE HERE
                    .counter
                      222/333
                    .clear
                  = form.text_area :message
                .quantity
                  %label
                    .field-highlight.left
                    I can make
                    = form.text_field :quantity, :size => 2
                    copies of this object
                %span.notice
                  %strong
                    NOTE
                  This bid is not a legal contract, only a semi-formal way of engaging in a conversation!
                %input{:type=>"submit", :class=>"submit-bid", :value=>"PLACE BID"}
                .clear
          - elsif owns_job?(current_user, @job)
            %h3
              THIS IS YOUR JOB!
            .clear
          - else
            %h3
              YOU ALREADY BID ON THIS!
            .clear
    .right
      .upload-image
        .bucket
          .box
      .stripe
        %h4
          DOWNLOAD BLUEPRINTS
      .box
        %ul.file-list
          %li
            %h5
              DOMEKIT-2V-HEXA.gcode
            %span.details
              details
          %li
            %h5
              DOMEKIT-2V-HEXA.gcode
            %span.details
              details
    .clear

