%br
= form.label :name
%br
= form.text_field :name
%br
%br
= form.label :password, form.object.new_record? ? nil : "Change password"
%br
= form.password_field :password
%br
%br
= form.label :password_confirmation
%br
= form.password_field :password_confirmation
%br
%br
= form.label :email
%br
= form.text_field :email
%br
%br
= form.label :location
%br
= form.text_field :location
%br
%br
= form.label :time_zone
%br
= form.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones
%br
%br
