.stripe
  .field-highlight.left
  .left
    %span.prompt
      COME UP WITH A USERNAME
    %p.help
      This will be your identity with MAKERFACTORY.
    = form.text_field :name, :class => 'title'
  .right
  .clear
.content.light
  .left
    .description
      .box
        .field-highlight.left
        %h4
          = form.label :email
        %p.help
          To be shared with MAKERFACTORY and the people you bid on jobs with, and no one else!
        = form.text_field :email
      .box
        .field-highlight.left
        %h4
          = form.label :password, form.object.new_record? ? nil : "Change password"
        %p.help
          A minimum of four characters, please.
      .specifications
        %table
          %tr
            %td.label.box
              Enter your password:
            %td.attribute.box-inline
              = form.password_field :password
          %tr
            %td.label.box
              Once more:
            %td.attribute.box-inline
              = form.password_field :password_confirmation
      %br
      .box
        .field-highlight.left
        %h4
          = form.label :location
        %p.help
          The general location from which you operate. Be general, use terms like: "Portland, OR" or "NYC". This will be shared on your user profile page.
        = form.text_field :location
      .box
        .field-highlight.left
        %h4
          SHOUTOUT
        %p.help
          Whatever you write here will be shown on your user profile page. 555 characters or less, please.
        = form.text_area :description
      .box
        %h4
          = form.label :url
        %p.help
          This will be shared on your user profile page. 
        = form.text_field :url
      .box
        %h4
          = form.label :equipment
        %p.help
          Do you have fabrication equipment, like a Makerbot, CNC, or laser cutter? List them here, separated by commas if you please. This will be shared on your user profile page.
        = form.text_field :equipment
      .box
        %h4
          = form.label :materials 
        %p.help
          Do you keep materials on hand, like ABS, PLA, or otherwise? List them here, separated by commas. This will be shared on your user profile page.
        = form.text_field :materials
                
    .callout
      .fold
      .content
        %h3
          = form.object.new_record? ? "CREATE YOUR ACCOUNT" : "UPDATE YOUR DETAILS"
        %p
          Before you create your account, please consider and agree to follow the
          %strong MAKERFACTORY
          code of conduct:
        %ul.things-to-remember
          %li
            %strong
              BE HONEST
            — Don't misrepresent yourself or your capabilities.
          %li
            %strong
              BE FRIENDLY
            — Treat others as you'd like to be treated.
          %li
            %strong
              HAVE FUN
            — Let's build the future, together!
        %p
          The communications you initiate and the content you share on this site are your own. We agree to never, ever share your email address with anyone except the owners of jobs you bid on.
        = form.submit "Save"
  .right
    .upload-image
      .bucket
        .box
          %h4
            UPLOAD PROFILE PICTURE
          %p.help
            This picture will be used to represent your identity on MAKERFACTORY
          = form.file_field(:image)
  .clear
