.page.shadow
  .stripe
    .left
      %h2
        TRACKER
      .info
        Track your MAKERFACTORY activity below
    .clear
  .tiles
    - unless @active_jobs.empty?
      %h2
        ACTIVE JOBS
      %p.help
        These are jobs that you created
      - @active_jobs.each do |job|
        .tile{:class => cycle('prim', 'alt'), 'data-href' => job_url(job)}
          .stripe
            .left
              %h3
                = job.title
              .info 
                = job.deliver_by
            .right
              %span
                999
              .info
                Bids
            .clear
          .photo
            = image_tag job.image1.url(:tile)
      .clear
    - unless @inactive_jobs.empty?
      %br
      %h2
        INACTIVE JOBS
      %p.help
        These jobs are no longer.
      - @inactive_jobs.each do |job|
        .tile{:class => cycle('prim', 'alt'), 'data-href' => job_url(job)}
          .stripe
            .left
              %h3
                = job.title
              .info 
                = job.deliver_by
            .right
              %span
                999
              .info
                Bids
            .clear
          .photo
            = image_tag job.image1.url(:tile)
      .clear
    - unless @user.bids.empty?
      %br
      %h2
        ACTIVE BIDS
      %p.help
        These are jobs you have placed bids on
        - @bids.each do |bid|
          .tile{:class => cycle('prim', 'alt'), 'data-href' => job_url(bid.job)}
            .stripe
              .left
                %h3
                  = bid.job.title
                .info 
                  = bid.job.deliver_by
              .right
                %span
                  = "#{bid.quantity}/#{bid.job.quantity_needed}"
                .info
                  Bids
              .clear
            .photo
              = image_tag bid.job.image1.url(:tile)
        .clear
