.page.shadow
  .stripe
    .left
      %h2
        TRACKER
      .info
        Your MAKERFACTORY activity log
    .clear
  .tiles
    - unless @active_jobs.empty?
      %h2
        ACTIVE JOBS
      %p.help
        These are jobs that you created
      - @active_jobs.each do |job|
        %a.tile{:class => cycle('prim', 'alt'), 'href' =>  job_url(job)}
          .stripe
            .left
              %h3
                = job.title
              .info 
                = job.deliver_by
            .right
              %span
                = job.bids.count
            .clear
          .photo
            = image_tag job.image1.url(:tile)
      .clear
      %br
    - unless @user.bids.empty?
      %h2
        ACTIVE BIDS
      %p.help
        These are jobs you have placed bids on
      - @bids.each do |bid|
        .bid-tile{:class => "#{cycle('prim', 'alt')}"}
          .stripe
            .left
              .avatar
                - link_to user_url(bid.job.creator) do
                  = image_tag bid.job.creator.image.url(:avatar)
              %h3
                = bid.job.title
                .info
                  by
                  =link_to bid.job.creator.name,user_url(bid.job.creator)
              .info
                Posted on
                %span.highlight
                  = format_time(bid.job.created_at, :datestamp)

            .right
              .quantity
                .number
                  = "#{bid.quantity}/#{bid.job.quantity_needed}"
                .info.label
                  Quantity Bidded
            .clear
          .message
            .photo
              = image_tag bid.job.image1.url(:tile)
            .box
              = bid.message
            .clear
          .action
            .box
              =link_to "view job", job_url(bid.job)
              
    - unless @inactive_jobs.empty?
      %h2
        INACTIVE JOBS
      %p.help
        These jobs are no longer available
      - @inactive_jobs.each do |job|
        %a.tile{:class => cycle('prim', 'alt'), 'href' => job_url(job)}
          .stripe
            .left
              %h3
                = job.title
              .info 
                = job.deliver_by
            .right
              %span
                = job.bids.count
            .clear
          .photo
            = image_tag job.image1.url(:tile)
      .clear
      %br