.page.shadow
  .stripe
    .left
      .avatar
        = image_tag @user.image.url(:avatar)
      %h2
        = @user.name
      .info
        Signed up on   
        %span.highlight
          = format_time(@user.created_at, :datestamp)
    .right
      %ul.context-menu
        - if can? :edit, @user
          %li.edit
            %a
              = link_to 'Edit', edit_account_path
    .clear
  .content.light
    .left
      .description
        .box
          %p
            = simple_format @user.description
        .specifications
          %table
            - if @user.participation > 0 
              %tr
                %td.label.box
                  Participation:
                %td.attribute.box-inline
                  = @user.participation
            %tr
              %td.label.box
                Location:
              %td.attribute.box-inline
                = @user.location
            - if !@user.url.empty? 
              %tr
                %td.label.box
                  URL:
                %td.attribute.box-inline
                  = link_to @user.url, @user.url
            - if !@user.equipment.empty? 
              %tr
                %td.label.box
                  Equipment:
                %td.attribute.box-inline
                  = @user.equipment
            - if !@user.materials.empty? 
              %tr
                %td.label.box
                  Materials:
                %td.attribute.box-inline
                  = @user.materials
    .right
      .upload-image
        .bucket
          = image_tag @user.image.url(:profile)
    .clear

