.page.shadow
  .stripe
    .left
      %h2
        = @user.name
      %span.info
        User since
        = @user.created_at
    .right
      %ul.context-menu
        %li.edit
          %a
            = link_to 'Edit', edit_user_path(@user)
    .clear
  .content.light
    .left
      .description
        .box
          %p
            = @user.description
        .specifications
          %table
            %tr
              %td.label.box
                Location:
              %td.attribute.box-inline
                = @user.location
            %tr
              %td.label.box
                URL:
              %td.attribute.box-inline
                = link_to @user.url, @user.url
            %tr
              %td.label.box
                Equipment:
              %td.attribute.box-inline
                = @user.equipment
            %tr
              %td.label.box
                Materials:
              %td.attribute.box-inline
                = @user.materials
    .right
      .upload-image
        .bucket
          .box
    .clear

