.page.shadow
  .stripe
    .left
      .avatar
        = image_tag @user.image.url(:avatar)
      %h2
        = @user.name
      .info
        Signed up on   
        %span.highlight
          = format_time(@user.created_at, :datestamp)
    .right
      %ul.context-menu
        - if can? :edit, @user
          %li.edit
            %a
              = link_to 'Edit', edit_account_path
    .clear
  .content.light
    .left
      .description
        .box
          %p
            = @user.description
        .specifications
          %table
            %tr
              %td.label.box
                Location:
              %td.attribute.box-inline
                = @user.location
            %tr
              %td.label.box
                URL:
              %td.attribute.box-inline
                = link_to @user.url, @user.url
            %tr
              %td.label.box
                Equipment:
              %td.attribute.box-inline
                = @user.equipment
            %tr
              %td.label.box
                Materials:
              %td.attribute.box-inline
                = @user.materials
    .right
      .upload-image
        .bucket
          = image_tag @user.image.url(:profile)
    PARTICIPATION
    = @user.participation
    .clear

