.page.shadow
  .stripe
    .left
      %h2
        TRACKER
      .info
        Your MAKERFACTORY activity log
    .clear
  .tiles
    - unless @active_jobs.empty?
      %h2
        ACTIVE JOBS
      %p.help
        These are jobs that you created
      - @active_jobs.each do |job|
        .bid-tile{:class => "job #{cycle('prim', 'alt')}"}
          .stripe
            .left
              .avatar
                = link_to user_url(job.creator) do
                  = image_tag job.creator.image.url(:avatar)
              %h3
                = job.title
              .info
                Job posted on 
                %span.highlight
                  = format_time(job.created_at, :datestamp)
            .right
              .quantity
                .number
                  = job.bids.count
                .info.label
                  = job.bids.count == 1 ? "Bid" : "Bids"
            .clear
          .message
            %a.photo 
              = image_tag job.image1.url(:tile)
            .box
              = simple_format job.description
            .clear
          .action
            .box
              =link_to "view job", job_url(job)
      %br
    - unless @user.bids.empty?
      %h2
        ACTIVE BIDS
      %p.help
        These are jobs you have placed bids on
      - @bids.each do |bid|
        .bid-tile{:class => "#{cycle('prim', 'alt')}"}
          .stripe
            .left
              .avatar
                = link_to user_url(bid.job.creator) do
                  = image_tag bid.job.creator.image.url(:avatar)
              %h3
                = bid.job.title
                .info
                  by
                  =link_to bid.job.creator.name,user_url(bid.job.creator)
              .info
                Bid posted on
                %span.highlight
                  = format_time(bid.job.created_at, :datestamp)

            .right
              .quantity
                .number
                  = "#{bid.quantity}/#{bid.job.quantity_needed}"
                .info.label
                  Bid quantity
            .clear
          .message
            %a.photo 
              = image_tag bid.job.image1.url(:tile)
            .box
              = simple_format bid.message
            .clear
          .action
            .box
              =link_to "view job", job_url(bid.job)
              - if bid.awarded?
                .awarded
                  Bid awarded!
                  .direct
                    Contact job owner directly: 
                    .email
                      = bid.job.creator.email
    
 
      %br
    - unless @inactive_jobs.empty?
      %h2
        INACTIVE JOBS
      %p.help
        These are your jobs that have expired
      - @inactive_jobs.each do |job|
        .bid-tile{:class => "job #{cycle('prim', 'alt')}"}
          .stripe
            .left
              .avatar
                = link_to user_url(job.creator) do
                  = image_tag job.creator.image.url(:avatar)
              %h3
                = job.title
              .info
                Job posted on 
                %span.highlight
                  = format_time(job.created_at, :datestamp)
            .right
              .quantity
                .number
                  = job.bids.count
                .info.label
                  Bids
            .clear
          .message
            %a.photo 
              = image_tag job.image1.url(:tile)
            .box
              = simple_format job.description
            .clear
          .action
            .box
              =link_to "view job", job_url(job)
        %br
