%ul
  %li.main
    = link_to("FIND A JOB", jobs_url)
  %li.main
    = link_to("POST A JOB", new_job_url)
  - if current_user
    %li.bids
      = link_to("ACTIVE", account_url)
    %li.profile
      = link_to("PROFILE", account_url)
  %li.login
    = logged_in? ? link_to("LOGOUT", logout_url) : link_to("LOGIN", login_url)