= javascript_include_tag 'handlebars', 'templates'
:javascript
  $(function(){
    makerFactory.jobs = #{@map_jobs.map do |job| {
          :location => job.deliver_to,
          :title    => job.title,
          :href     => job_url(job),
          :img_url  => job.image1.file? ? job.image1.url(:small) : nil,
          :has_img  => job.image1.file?,
          :quantity => job.quantity_needed
        }
        end.to_json};
  });
  
.page.shadow
  .content.home
    .full
      .home
        .left
          .video
        .right
          .box
            %p
              %strong
                MAKERFACTORY
              is a free service for connecting the emerging network of localized fabrication technologies with people like you who need stuff 3d printed, CNC’ed, or otherwise made.
          .callout.need-job
            .fold
              \&nbsp;
            %a{:href => register_path}
              .content
                %h3
                  REGISTER HERE
                %p
                  Need something made? Willing to make things for other people? Click here to register for an account. It's totally free!

      .clear
      .gmaps_canvas
      .legend
        %h3
          RECENTLY POSTED JOBS
      %table.list{ :cellspacing => "0", :cellpadding => "0" }
        %tr
          %th.title
            JOB TITLE
          %th.deliver-to
            DELIVER TO
          %th.deliver-by
            DELIVER BY
          %th.quantity
            QUANTITY
        - @recent_jobs.each_with_index do |job, i|
          %tr{:class => (cycle :prim, :alt) + ' ' + ((@recent_jobs.size >= i + 1) ? 'last' : nil)}
            %td
              = job.title
            %td
              = job.deliver_to
            %td
              = job.deliver_by
            %td
              = job.quantity_needed
      #credit
        .left
          .box
            %h3
              BROUGHT TO YOU BY EFFALO
            %p
              %strong
                MAKERFACTORY
              = "was concieved, designed, and developed by your friends at #{link_to "EFFALO", "http://effalo.com"}, a research and design collaborative headquartered in the pacific northwest. This particular project was staffed by:"
            .collaborators
              .collaborator
                %img{:src=>"/images/profile-mfelix.png"}
                %h4
                  Michael Felix
                %span
                  Design + Project Lead
              .collaborator
                %img{:src=>"/images/profile-akurtz.png"}
                %h4
                  Andrew Kurtz
                %span
                  Development
              .collaborator
                %img{:src=>"/images/profile-mogden.png"}
                %h4
                  Max Ogden
                %span
                  Development
              .collaborator
                %img{:src=>"/images/profile-espier.png"}
                %h4
                  Ezra Spier
                %span
                  Development
              .clear
        .right
          .box
            %a{:href=>"http://makerfactory.tumblr.com", :class=>"blog"}
              .icon
              %h5
                WE HAVE A BLOG
            %a{:href=>"http://twitter.com/makerfactory-jobs", :class=>"feed"}
              .icon
              %h5
                FEED OF JOBS
            %a{:href=>"mailto:hello@effalo.com", :class=>"mailto"}
              say
              %span
                hello@effalo.com
    .clear
