= error_messages_for('user_session')
.page.shadow
  .stripe
    .left
      %h2
        Well, hello!
      %span.info
        Pleasure to see you again! Let's log in and get started!
    .right
    .clear
  .content.halfdark
    .left
      .box
        = form_for @user_session, :url => user_session_path do |f|
          = f.label :email, "Email"
          %br
          = f.text_field :email, :class => 'textfield'
          %br
          %br
          = f.label :password
          %br
          = f.password_field :password, :class => 'textfield'
          %br
          %br
          = f.check_box :remember_me
          = f.label :remember_me
          %br
          %br
          = f.submit "Login"
        %br
        .forgot_password
          = link_to "Forgot your password?", new_password_reset_url
        %br
    .right
      .callout.link
        .fold
        %a{:href => register_url }
          .content
            %h3
              ARE YOU NEW HERE?
            %p
              Need something made? Willing to make things for other people? Click here to register for an account. It's totally free!
    .clear
