!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    %meta{ :name => "Description", :content => "MAKERFACTORY is a free service for connecting the emerging network of localized fabrication technologies with people like you who need stuff 3d printed, CNC’ed, or otherwise made." }
    %title
      MAKERFACTORY
    = stylesheet_link_tag 'style'
    = yield :stylesheets
    %script{ :src => "http://www.google.com/jsapi", :type => "text/javascript" }
    %script{ :language => "javascript", :type => "text/javascript" }
      google.load("jquery", "1.4.3");
      // google.load("maps", "2.x");
    %script{ :language => "javascript", :type => "text/javascript" }
      makerFactory = {};
      makerFactory.currentUserId = #{current_user ? current_user.id : "null"};
      makerFactory.loggedIn = !!makerFactory.currentUserId;
      - if current_user
        makerFactory.jobs_count = #{current_user.created_jobs.count}
        makerFactory.bids_count = #{current_user.bids.count}
    = javascript_include_tag 'templates'
    = javascript_include_tag 'handlebars'
    = javascript_include_tag 'application'
    = yield :header
    %script{ :type => "text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-15697866-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    .container
      .header
        .logo
          = link_to(root_url) do
            .icon
            %h1
              MAKER
              %br
              FACTORY
        .nav
          = render :partial => 'shared/navigation'
        .clear
      = render :partial => 'layouts/flashes'
      = yield
      .footer
        %span.notes
          = '<script type="text/javascript">google_ad_client = "ca-pub-0735791119820002"; google_ad_slot = "5536157426"; google_ad_width = 468; google_ad_height = 60;</script><script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>'.html_safe
        %span.creator
          MAKERFACTORY.com is a free service brought to you by your friends at 
          %a{:href=>"http://effalo.com"}
            EFFALO