!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    %title
      MAKERFACTORY
    %script{ :src => "http://www.google.com/jsapi?key=ABQIAAAAUXDSXET8IRGdgHP9FpGw5BRViv8RhOX8wnlgxhPnh51fICCM4BR4mNt9txaKw-s4gqb1L5Cm5S0JaA", :type => "text/javascript" }
    %script{ :language => "javascript", :type => "text/javascript" }
      google.load("jquery", "1.4.0");
      google.load("maps", "2.x");
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'style'
    = yield :stylesheets
  %body
    .container
      .header
        .logo
          %a
            .icon
            %h1
              MAKER
              %br
              FACTORY
        .nav
          = render :partial => 'shared/navigation'
        .clear
      = render :partial => 'layouts/flashes'
      = yield
      .footer
        %span.notes
          (cc) 2010 MAKERFACTORY
        %span.creator
          AN EFFALO INITIATIVE
