!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    %title
      MAKERFACTORY
    %script{ :src => "http://www.google.com/jsapi", :type => "text/javascript" }
    %script{ :language => "javascript", :type => "text/javascript" }
      google.load("jquery", "1.4.2");
      // google.load("maps", "2.x");
    %script{ :language => "javascript", :type => "text/javascript" }
      makerfactory = {};
      makerfactory.currentUserId = #{current_user ? current_user.id : "null"};
      makerfactory.loggedIn = !!makerfactory.currentUserId;
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'style'
    = yield :stylesheets
  %body
    .container
      .header
        .logo
          - link_to(root_url) do
            .icon
            %h1
              MAKER
              %br
              FACTORY
        .nav
          = render :partial => 'shared/navigation'
        .clear
      = render :partial => 'layouts/flashes'
      = yield
      .footer
        %span.notes
          (cc)
          = Time.now.year
          MAKERFACTORY
        %span.creator
          AN EFFALO INITIATIVE