!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    %title
      MAKERFACTORY
    %script{ :src => "http://www.google.com/jsapi", :type => "text/javascript" }
    %script{ :language => "javascript", :type => "text/javascript" }
      google.load("jquery", "1.4.2");
      // google.load("maps", "2.x");
    %script{ :language => "javascript", :type => "text/javascript" }
      makerFactory = {};
      makerFactory.currentUserId = #{current_user ? current_user.id : "null"};
      makerFactory.loggedIn = !!makerFactory.currentUserId;
      - if current_user
        makerFactory.jobs_count = #{current_user.created_jobs.count if current_user}
        makerFactory.bids_count = #{current_user.bids.count}
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'style'
    = yield :stylesheets
  %body
    .container
      .header
        .logo
          - link_to(root_url) do
            .icon
            %h1
              MAKER
              %br
              FACTORY
        .nav
          = render :partial => 'shared/navigation'
        .clear
      = render :partial => 'layouts/flashes'
      = yield
      .footer
        %span.notes
          %img{:src=>"http://i.creativecommons.org/l/by-sa/3.0/80x15.png"}
        %span.creator
          AN
          %a{:href=>"http://effalo.com"}
            EFFALO
          INITIATIVE
